*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family:'Segoe UI', sans-serif;
}

.weather-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 2rem;
  background: #f0f4f8;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

input {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 16px;
  font-weight: bold;
  background: #42b983;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.status {
  margin-top: 1rem;
  font-weight: bold;
  color: #555;
}

.status.error {
  color: #e74c3c;
}

.weather-result {
  margin-top: 1rem;
}

.weather-result img {
  margin-top: 10px;
  background-color: rgb(168 220 255 / 60%);
  padding: 4px;
  border-radius: 8px;
}

.temp {
  font-size: 3rem;
  font-weight: bold;
  color: #2c3e50;
}

.desc {
  text-transform: capitalize;
  color: #555;
}